<div id="todos-main">
  <div class="title">Create Todo</div>
  <form name="todoForm" flex="100" layout-align="space-between center" layout="row">
    <md-input-container class="md-block">
      <label>Task</label>
      <input required ng-model="vm.task" placeholder="Enter task"></input>
    </md-input-container>
    <md-button ng-click="vm.todosService.createTodo(vm.task)" class="md-raised md-primary">Create</md-button>
  </form>
  <div class="title">Unfinished Tasks</div>
  <md-divider></md-divider>
  <todo ng-repeat="todo in vm.todosService.unfinishedTodos" todo="todo"></todo>
  <md-divider></md-divider>
  <div class="title">Completed Tasks</div>
  <md-divider></md-divider>
  <todo ng-repeat="todo in vm.todosService.completedTodos" todo="todo"></todo>
</div>